/* 
----Table of content----
setting
navbar

font
font-family: 'Roboto', sans-serif;
font-family: 'Sarabun', sans-serif;



*/

/* setting */
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarabun', sans-serif;
}


/* navbar */
.bg-navbar{
    background: rgba(0, 0, 0, 0.5);
}

/* carousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-item .active {
    height: 100%;
}

/* สำหรับตั้งค่า image ให้มีขนาดตามที่ต้องการ */
.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* สำหรับการตั้งค่า caption ให้อยู่ตรงกลาง */
.carousel-caption{
    top: 40%;
}

/* สำหรับค่าพื้นหลังให้มีความโปร่งใส่ และเห็น caption ชัดเจนมากขึ้น */
.backscreen{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}