/* 
----Table of content----
setting
navbar
footer

font
font-family: 'Roboto', sans-serif;
font-family: 'Sarabun', sans-serif;



*/

/* setting */
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sarabun', sans-serif;
}


/* navbar */
.bg-navbar{
    background: rgba(0, 0, 0, 0.5);
}

#navbar{
    transition: 0.5s;
}

/* carousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-item .active {
    height: 100%;
}

/* สำหรับตั้งค่า image ให้มีขนาดตามที่ต้องการ */
.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/* สำหรับการตั้งค่า caption ให้อยู่ตรงกลาง */
.carousel-caption{
    top: 40%;
}

/* สำหรับค่าพื้นหลังให้มีความโปร่งใส่ และเห็น caption ชัดเจนมากขึ้น */
.backscreen{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

/* footer */
.footer{
    background: #313131;
    color: #ffffff;
}

/* ต้องการให้ caption ที่อยู่ด้านขวา มีตำแหน่งที่อยู่ตรงกลาง */
.second-right-footer{
    position: relative; /* เราจะต้องกำหนดให้สิ่งนั้นเป็น relative ก่อน */ /* การแสดงผลด้วย position: relative; นั้นจะแสดงผลออกมา ณ จุด ๆ นั้น ที่ element อยู่ */
    top: 20%; /* กำหนดระยะห่างจากด้านบน 20% (ความกว้างของ div เท่าไหร่ไม่รู้ แต่ระยะห่างจากด้านบนอยู่ที่ 20 %) */
    font-size: 20px; /* ขนาดของ font  */
}


/* code kata page */
.warpper-card-img{
    position: relative;
    padding-top: 56.25%; /* ขนาดของภาพ 16/9 */
    overflow: hidden;
}
.warpper-card-img img{
    position: absolute; /*กำหนดตำแหน่งให้สามารถเคลื่อนที่ไปไหนก็ได้*/
    top: 0;
    transition: 1.5s;
}

.warpper-card-img img:hover{
    transform: scale(1.5);
}