html, body{
    padding: 0;
    margin: 0;
}

.btn-button{
    position: absolute;
    content: " ";
    top: 50%;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: auto;
    padding: 20px;
    background: #FF6347;
    border-radius: 8px;
    transition: 0.5s; 
}

button:hover{
    transform: scale(1.5);
    background: #FF4500;
}